{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "destructuredArrayIgnorePattern": "^_"
      }
    ]
  }
}